<div class="card">
    <div class="card-header">
        <h3>Test Details</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">

          
        <table class="w-100">
            <tbody>
                <tr>
                    <td class="font-weight-bold text-muted">Test Name:</td>
                    <td class="font-weight-bold text-right">{{testData.TestName}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold text-muted">Price:</td>
                    <td class="font-weight-bold text-right">{{testData.Price}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold text-muted">Tax:</td>
                    <td class="font-weight-bold text-right">{{testData.Tax}}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold text-muted">Final Price:</td>
                    <td class="font-weight-bold text-right">{{testData.FinalPrice}}</td>
                </tr>
                <tr>
                  <td class="font-weight-bold text-muted">Comments:</td>
                  <td class="font-weight-bold text-right">{{testData.Comments}}</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
    </div>
</div>